<h1>Lesson9 13/11/2015</h1>

<h3>Create new Filter</h3>

<div ng-app="lesson9">
  <div ng-controller="controller1">
    <input ng-model="name" type="text"><br>

    {{name | capitalize}}
  </div>

</div>

<script type="text/javascript">
  var app = angular.module("lesson9", []);

  app.controller("controller1", function($scope) {
    $scope.name = "vo tAI tri";
  });

  app.filter("capitalize", function() {
    return function(input) {
      return (input) ? input.replace(/([^\W_]+[^\s-]*) */g, function(txt) {
        if(txt != "tribeo") {
          return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
        }else{
          return txt;
        }
      }) : "";
    }
  });
</script>
