<h1>AngularJS SQL 12/11/2015</h1>

<ul>Listing of the server code used to fetch SQL data.
  <li><b>PHP</b> and <b>MySQL</b>. Returning <b>JSON</b></li>
  <li><b>PHP</b> and <b>MS Access</b>. Returning <b>JSON</b></li>
  <li><b>ASP.NET</b>, <b>VB</b>, and <b>MS Access</b>. Returning <b>JSON</b></li>
  <li><b>ASP.NET</b>, <b>Razor</b>, and <b>SQL Lite</b>. Returning <b>JSON</b></li>
</ul>

<h3>Cross-Site HTTP Requests</h3>
<ul>Requests for data from a different server are called <b>cross-site</b> HTTP requests.</ul>

<a href="/lesson5">Lesson 5 and 6</a>
